<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>
    <div id="login_box">  
    <div ng-controller="myController">
        <h2 id="welcomeText">It's Dinner Time!!!
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit Menu</a>
        
          <hr>
          <button ng-click="randomDinner()">Choose Dinner</button><button onclick="sorry()">Get Grocery List</button>
        <hr>
        <input id="dinnerOption" ng-model="dinnerOption" disabled><br><br>
        <textarea id="instructionOption" type="textarea" name="" disabled ng-model="instructionOption"></textarea>
    </div>
    
    </div>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>